.action-bar {
  position: fixed;
  width: 100%;
  height: $action-bar-height;
  padding: $gap-tiny;
  background-color: var(--bg-primary);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 4px 4px 0px var(--shadow-color);

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: $big-text-font-family;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    @if ($DEBUG) {
      $debug-color: rgb(0, 0, 255);
      border: 2px solid $debug-color;
    }
  }

  button {
    border: 0;
    padding: $gap-tiny;
    background-color: transparent;
    height: 32px;
    width: 32px;
    opacity: 0.7;
    filter: invert(var(--icon-invert));

    &.drawer-toggle {
      background: url('/src/image/icon/menu.svg') no-repeat center center;
    }
    img {
      opacity: 0.5;
    }

    @if ($DEBUG) {
      $debug-color: rgb(0, 255, 0);
      border: 2px solid $debug-color;
    }
  }

  @include desktop {
    display: none;
  }

  @if ($DEBUG) {
    $debug-color: rgb(255, 0, 234);
    border: 2px solid $debug-color;
  }
}
